*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
body{
background: linear-gradient(90deg, #F3E5F5, #E3F2FD, #E1F5FE, #E0F7FA, #E8F5E9);
}
h1{
    align-self: center;
}